/* Main container: sidebar + content */
.app-container {
  display: flex;
  /* background-color: #0817ba; */
}

/* Sidebar: fixed width, scrollable independently but scrollbar hidden */
.sidebar {
  width: 20vw;
  /* background: #1e1f29; */
  color: #fff;
  position: fixed;
  height: 100vh;
  overflow-y: scroll; /* allow scroll */
  z-index: 100;
  /* padding: 20px; */
  scrollbar-width: none; /* Firefox hide scrollbar */
  /* border: 2px solid yellow; */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

/* Right content (dashboard + pages): scrollable but scrollbar hidden */
.dashboard-wrapper {
  flex: 1;
  height: 100vh;
  overflow-y: scroll; /* allow scroll */
  width: 83vw;
  scrollbar-width: none; /* Firefox */
}

.dashboard-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
