/* custom-card hover */
.custom-card {
  transition: all 0.3s ease-in-out;
  position: relative;
}
.custom-card:hover {
  transform: translateY(-6px);
  box-shadow: rgba(73, 63, 253, 0.7) 0px 5px 15px;
}




.bg-free-trial{
    background:linear-gradient(to right,#493FFD,#000000) ;
}
.btn-bg-start{
    background-color: #493FFD !important;
    /* border-radius: 100% !important; */
}
.btn-bg-start:hover {
  background-color: #423cb7 !important;
  color: white !important;
}

.text-heading{
    color: #493FFD;
}
/* .btn-arrow{
    background-color: #493FFD;
} */


