




.bg-free-trial{
    background:linear-gradient(to right,#493FFD,#000000) ;
}
.btn-bg-start{
    background-color: #493FFD !important;
    /* border-radius: 100% !important; */
}
.btn-bg-start:hover {
  background-color: #423cb7 !important;
  color: white !important;
}

.text-heading{
    color: #493FFD;
}
/* .btn-arrow{
    background-color: #493FFD;
} */


