.btn-nav{
    background: linear-gradient(135deg, #130486, #000000);
    color: white;
}
.table-data{
     background-color:#f5f6fa ;
  color: black;
  
}
.dashboard-container{
    
    background-color: #d8d5d5;
    color: #000000;
}
input.custom-placeholder::placeholder {

 color: #000000;
}
.btn-nav:hover{
color: white;
}