.btn-nav{
    background: linear-gradient(135deg, #130486, #000000);
    color: white;
}
.table-data{
     background: white;
    color: dark;
  
}
.dashboard-container{
    
    background: #f5f6fa;
    color: dark;
}
input.custom-placeholder::placeholder {

 color: #000000;
}
.btn-nav:hover{
color: white;
}