.gradient-bg {
  background: linear-gradient(135deg, #493FFD, #2954a9);
  color: white;
  padding: 4rem;
}
.border-color{
  border:1px solid #493FFD
}

.bg-page{
  background-color: rgb(226, 226, 226);
}

/* Small screens (flipped gradient: white on top, blue bottom) */
@media (max-width: 768px) {
  .gradient-bg {
    background: linear-gradient(to top,#0058ff 30%, white 70%, );
    color: black;
    text-align: left;
    padding: 2rem 1.5rem;
  }
 
}

/* Default height (for large desktops) */
.custom-height {
  height: 97vh;
}

/* Medium screens (tablets, <= 1200px) */
@media (max-width: 1200px) {
  .custom-height {
    height: 80vh;
  }
}
@media (max-width: 995px) {
  .custom-height {
    height: 90vh;
  }
}

/* Small screens (<= 768px) */
@media (max-width: 768px) {
  .custom-height {
    height: 80vh;
  }
}

/* Extra small screens (<= 576px) */
@media (max-width: 576px) {
  .custom-height {
    height: 70vh;
  }
}
