/* .education-section{
  height: 80vh;
  background: linear-gradient(to top, rgb(62, 62, 174), black);
} */
.education-section {
    background-image: url('/images/EducationHub.png'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    
    min-height: 80vh;
    display: flex;
    align-items: center;      /* Vertical center */
    justify-content: flex-start; /* Horizontal left */
    color: white;
    
}

.content-box {
    background-color: transparent;
    
    padding: 2rem;
}
.demo1{
    background-color: aquamarine;
    color:white;
}

/* /---------------For Learn Trade-------------------------------/ */
.s1{
 background-color: rgba(22, 110, 190, 0.921);
}
.s2{
background-color: rgba(22, 110, 220, 0.928);
}
.s3{
background-color: rgba(22, 110, 280, 0.929);
}


/* /---------FOr TradingVideo------/ */
.pdiv  {
    background-color: rgb(221, 225, 229);
    
}

/* .education-section {
    background-color: transparent !important;
    color: white;
} */


