 @media (max-width: 767.98px) {
      .responsive-gradient {
        background: white !important;
      }
    }

    .tr-container{
        min-height: 90vh;
        
    }
    #tr-container-bg{
     background: linear-gradient(to bottom,#493FFD, #000000 ) ;
    }

    .ir-container{
      min-height: 70vh;
    }

    .btn-learn{
      background-color: #493FFD;
    }

     