.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #2f2ef3; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .scroll-to-top:hover {
    background-color: #2f2ef3;
    transform: scale(1.1);
  }
  