.cp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f8fc;
  padding: 20px;
}

.cp-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.cp-card h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #0c0c0c;
}

.cp-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cp-field label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #0c0c0c;
  text-align: left;
}

.cp-field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background: white;
  color: #6a6969;
}

.cp-submit-btn {
  width: 100%;
  padding: 12px;
   background: linear-gradient(to top left, #000000, #493ffd);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.cp-submit-btn:hover {
  background-color: #1d4ed8;
}

/* Popup Overlay */
.cp-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup Content */
.cp-popup-content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  width: 280px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Loader Spinner */
.cp-loader .cp-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #eee;
  border-top: 6px solid #2ecc71;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

/* Success & Error Popup */
.cp-success p {
  color: #2ecc71;
  font-weight: 500;
}

.cp-error p {
  color: red;
  font-weight: 500;
}

.cp-popup-content button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #130486;
  color: white;
  cursor: pointer;
}

.cp-popup-content button:hover {
  background: #1d4ed8;
}
